body {
  background-color: aquamarine;
  color: antiquewhite;
}

h1 {
  color: rgb(1, 1, 1);
  text-align: center;
  font-weight: 100;
}
form {
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 87px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
form input {
  flex: 1;
  height: 100%;
  border: 0;
  outline: 0;
  background: aquamarine;
  color: #171415;
  font-size: 21px;
  padding: 0 30px;
}
form button {
  padding: 0 18px;
  height: 100%;
  background: #4ce178;
  border: 0;
  outline: 0;
  color: blue;
  font-size: 21px;
}
::placeholder {
  color: rgb(0, 0, 0);
  font-size: 18px;
}
#show-more-btn {
  background: #ff3929;
  color: #fff;
  border: 0;
  padding: 0px;
  border-radius: 4px;
  /* margin: 10px auto 100px; */
  cursor: pointer;
  display: block;
  margin: 0px;
}
